<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EnderecoPaginaLogin"           value="http://www.speedconnection.com.br"/>
    <add key="AtributoPesquisa"              value="name"/> <!-- Atributo de pesquisa da TAG -->
    <add key="AtributoValorUsuario"          value="username"/>
    <add key="AtributoValorSenha"            value="password"/>
    <add key="CampoUsuario"                  value="pedro"/>
    <add key="CampoSenha"                    value="123"/>
    <add key="BotaoLogin"                    value="signIn"/>
    <add key="TempoVerificarConexaoInternet" value="15"/> <!-- Em segundos -->
  </appSettings>
</configuration>